# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build


# logs
*.log

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.zip
*.pdf
*.fig
CNAME
pixel-perfect_*.*
*.xls?
*.csv
*.psd
*.xd

# IDE configs
*.code-workspace
.idea/

.eslintcache
